<PaperCard>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Content Years</h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each @contentYears as |contentYear|}}
        <PaperItem @onClick={{fn this.goToContentYear contentYear}}>
          <p>{{contentYear.name}}</p>
        </PaperItem>
        <PaperDivider />
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperCard>
