<PaperCard>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Students</h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each @students as |student|}}
        <PaperItem>
          <p>
            {{student.name}},
            Form {{student.form.number}}
          </p>
        </PaperItem>
        <PaperDivider />
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperCard>
