<h2>{{this.model.contentYear.name}}</h2>

{{#each this.model.contentYear.subjects as |subject|}}
  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>{{subject.name}}</h2>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      <PaperList>
        {{#each (get this.contentsGroupedBySubjectId subject.id) as |content|}}
          <PaperItem>
            <p>{{content.notes}}</p>
          </PaperItem>
          <PaperDivider />
        {{else}}
          <PaperItem>
            <p><em>(no contents yet)</em></p>
          </PaperItem>
        {{/each}}
      </PaperList>
    </PaperContent>
  </PaperCard>
{{/each}}
